@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

:root {
    --fonte-one-piece: 'Acme', sans-serif;
    --fonte-padrao: 'Lilita One', cursive;
    --fonte-destaque: 'Young Serif', serif;
    --fonte-padra: 'AR One Sans', sans-serif;

    --cor-luffy: rgb(197, 0, 0);
    --cor-zoro: rgb(0, 110, 46);
    --cor-nami: rgb(255, 145, 0);
    --cor-usopp: rgb(156, 76, 0);
    --cor-sanji: rgb(255, 217, 0);
    --cor-chopper: rgb(202, 80, 165);
    --cor-robin: rgb(110, 0, 95);
    --cor-franky: rgb(61, 175, 209);
    --cor-brook: rgb(0, 0, 0);
    --cor-jinbe: rgb(0, 26, 255);
}

html, body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

header {
    background-color:transparent;
    background-color: #8dd9c17a;
    width: 100%;

    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
}

header h3 {
    color: #3d7564;
    margin: 20px;
}
header h1 {
    margin-top: 50px;
}

section {
    background-color: rgb(224, 224, 224);
    margin: auto;
    font-family: var(--fonte-padra);
}

nav {
    position: fixed;
    background-color: transparent;
    z-index: 1;
}

li {
    background-color: transparent;
}

nav li {
    display: inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    transition: transform 0.5s;
    
}

nav a {
    color: black;
    border-radius: 25px;
    font-family: var(--fonte-one-piece);
    font-variant: small-caps;


}


li:hover {
    transform: scale(1.2);
}

a#aluffy:hover {

    color: var(--cor-luffy);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a#azoro:hover {

    color: var(--cor-zoro);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#anami:hover {

    color: var(--cor-nami);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#ausopp:hover {

    color: var(--cor-usopp);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#asanji:hover {

    color: var(--cor-sanji);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#achopper:hover {

    color: var(--cor-chopper);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#arobin:hover {

    color: var(--cor-robin);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#afranky:hover {

    color: var(--cor-franky);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#abrook:hover {

    color: var(--cor-brook);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#ajinbe:hover {

    color: var(--cor-jinbe);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
a#ayamato:hover {

    background-image: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #8dd9c19c;
}

#luffy h2 {
    color: var(--cor-luffy);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#zoro  h2 {
    color: rgb(0, 110, 46);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#nami  h2 {
    color: rgb(255, 145, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#usopp  h2 {
    color: rgb(156, 76, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#sanji  h2 {
    color: rgb(255, 217, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#chopper  h2 {
    color: rgb(202, 80, 165);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#robin  h2 {
    color: rgb(110, 0, 95);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#franky  h2 {
    color: rgb(61, 175, 209);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#brook  h2 {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#jinbe  h2 {
    color: rgb(0, 26, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);
}
#yamato  h2 {
    background-image: linear-gradient(to right, blue, red, yellow, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.185);
}




.imagem {
    width: 100%;
    height: 100vh;
    background: black ;
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover;
    
}

.imagem-bando {
    background-image: url(../imagens/tripulacao.jpeg);
}

.imagem-luffy {
    background-image: url(../imagens/luffy.jpg);
}

.imagem-zoro {
    background-image: url(../imagens/zoro.jpg);
}

.imagem-nami {
    background-image: url(../imagens/nami.jpg);
}

.imagem-usopp {
    background-image: url(../imagens/usopp.jpg);
    background-position: left center;
}

.imagem-sanji {
    background-image: url(../imagens/sanji.jpg);
    background-position: top center;
}

.imagem-chopper {
    background-image: url(../imagens/chopper.jpg);
}

.imagem-robin {
    background-image: url(../imagens/robin.jpg);
}

.imagem-franky {
    background-image: url(../imagens/franky.jpg);
}

.imagem-brook {
    background-image: url(../imagens/brook.png);
}

.imagem-jinbe {
    background-image: url(../imagens/jinbe.jpg);
}

.imagem-yamato {
    background-image: url(../imagens/yamato.png);
}

.personagem {
    position: relative;
    align-items: center;
}

.conteudo {
    padding: 20px;
    margin: auto;
    width: 40vw;
    text-align: justify;   
    line-height: 1.5em;
    padding: 70px;
    
}

img {
    position: absolute;
    display: block;
    margin: auto;
    width: 200px;
    right: 3%;
    top: 50%;
    transform: translate(0%, -50%);
}

h1 {
    font-variant: small-caps;
    font-family:var(--fonte-one-piece);
    font-size: 5em;
    text-shadow: 1px 1px 3px #46cca2;
}

h2  {
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
}

.conteudo h3 {
    text-align: center;
    margin: 8px;
    
}



a {
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.3s;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

footer:hover a {
    font-size: 1.4em;
    text-shadow: 1px 1px 2px rgb(193, 209, 255);
}

footer:hover a:hover {

    color: white;
    font-size: 1.6em;
    text-shadow: 2px 1px 4px rgb(193, 209, 255);
}